    /* Import font */
    * {
        margin: 0;
        padding: 0;
    }

    :root {
        --primaryColor: #344e41;
        --secondaryColor: #dcd8cc;
        background-color: var(--primaryColor);
        overflow-y: hidden; /* Hide vertical scrollbar */
    }

    /* Heading & Body */

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-shadow: 3px 1px #423b36;
        color: var(--secondaryColor);
        z-index: 5;
    }
    .heading {
        font-size: calc(2vw + 2vh + 2vmin);
        position: absolute;
        z-index: 5;
    }

    .wrapper {
        top: 0;
        left: 0;
        height: 100%;
        background-size: contain;
        position: absolute;
    }

    .panel {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat; 
        position: absolute;
        background-size: contain;
        overflow-y: visible;
    }

    .panel.parallax {
        position: absolute;
    }

    /* Visualizer Section */

    .visualizer {
        background-color: #344e41;
        color: var(--secondaryColor);
        height: auto;
        z-index: 100;
    }
    
    .vis-container {
        display:flex;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
        padding-top: 4rem;
        width: 80%;
        margin: 0 auto;
    }

    .prompt {
        text-align: center;
        font-size: calc(1vw + 1vh + 2vmin);
    }

    .menu {
        display: flex;
        justify-content: space-evenly;
        height: 3rem;
    }

    .menu-dropdown {
        display: flex;
        justify-content:end;
        align-items: center;
        gap: 1rem;
    }

    .hourglass {
        max-width: 90%;
        max-height: 90%;
    }

    #dropdown-basic-button {
        background-color: var(--secondaryColor);
        color: var(--primaryColor);
        border: none;
        padding: .5rem 1rem;
        transition-duration: 0.4s;
        width:11rem;
        max-width:100%;
    }

    .btn-success {
        background-color: #588157 !important;
        color: var(--secondaryColor) !important;
        border: none !important; 
        padding: .5rem 1rem !important;
    }

    .btn-success:hover {
        background-color: #3a5a40 !important;
        transition-duration: .3s !important;
    }

    #back-4 {
        background-image: url(./assets/Back4.png);
        z-index: 1;
    }

    #mid-3 {
        background-image: url(./assets/Mid3.png);
        z-index: 1;
    }

    #mid-2 {
        background-image: url(./assets/Mid2.png);
        z-index: 50;
    }

    #front-1 {
        background-image: url(./assets/Front1.png);
        z-index: 50;
    }


    